.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: calc(100vh - 140px);
}

.chat {
    flex-grow: 1;
    overflow-y: scroll;
    width: 100%;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, auto); /* Cria duas colunas automáticas */
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}